
	<!-- Lista a busca aqui nessa div -->
	<div id="lista_produtos" class="container mt-3"> 
		

		<div class="card-deck text-center">

			
		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Peixe Dourado</h4>
		      </div>
		      <div class="card-body">
		      	<img src="../img/produtos/Carnes, Aves e Peixes/peixe dourado.jpg" style="height: 115px;" class="rounded shadow-sm">
		        <h2 class="card-title pricing-card-title">R$ 5,40 <small class="text-muted">/kg</small></h2>
		        <button type="button" class="btn btn-md btn-block btn-primary">Adicionar ao Carrinho</button>
		      </div>
		    </div>

		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Matrinxã</h4>
		      </div>
		      <div class="card-body">
		      	<img src="../img/produtos/Carnes, Aves e Peixes/exemplares-de-matrinxã.jpg" style="height: 115px;" class="rounded shadow-sm">
		        <h2 class="card-title pricing-card-title">R$ 3,60 <small class="text-muted">/kg</small></h2>
		        <button type="button" class="btn btn-md btn-block btn-primary">Adicionar ao Carrinho</button>
		      </div>
		    </div>
		    
		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Salmão</h4>
		      </div>
		      <div class="card-body">
		      	<img src="../img/produtos/Carnes, Aves e Peixes/file_de_atum.jpg" style="height: 115px;" class="rounded shadow-sm">
		        <h2 class="card-title pricing-card-title">R$ 4,20 <small class="text-muted">/kg</small></h2>
		        <button type="button" class="btn btn-md btn-block btn-primary">Adicionar ao Carrinho</button>
		      </div>
		    </div>

		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Pacu</h4>
		      </div>
		      <div class="card-body">
		      	<img src="../img/produtos/Carnes, Aves e Peixes/pacu.jpg" style="height: 115px;" class="rounded shadow-sm">
		        <h2 class="card-title pricing-card-title">R$ 7,95 <small class="text-muted">/kg</small></h2>
		        <button type="button" class="btn btn-md btn-block btn-primary">Adicionar ao Carrinho</button>
		      </div>
		    </div>

		</div>

		<div class="card-deck text-center">


		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Pirarucu</h4>
		      </div>
		      <div class="card-body">
		      	<img src="../img/produtos/Carnes, Aves e Peixes/file de pirarucu.jpg" style="height: 115px;" class="rounded shadow-sm">
		        <h2 class="card-title pricing-card-title">R$ 9,10 <small class="text-muted">/kg</small></h2>
		        <button type="button" class="btn btn-md btn-block btn-primary">Adicionar ao Carrinho</button>
		      </div>
		    </div>

		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Frango Seara</h4>
		      </div>
		      <div class="card-body">
		      	<img src="../img/produtos/Carnes, Aves e Peixes/frango seara.jpg" style="height: 115px;" class="rounded shadow-sm">
		        <h2 class="card-title pricing-card-title">R$ 2,30 <small class="text-muted">/kg</small></h2>
		        <button type="button" class="btn btn-md btn-block btn-primary">Adicionar ao Carrinho</button>
		      </div>
		    </div>
		    
		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Tucunaré</h4>
		      </div>
		      <div class="card-body">
		      	<img src="../img/produtos/Carnes, Aves e Peixes/tucunare.jpg" style="height: 115px;" class="rounded shadow-sm">
		        <h2 class="card-title pricing-card-title">R$ 15,25 <small class="text-muted">/kg</small></h2>
		        <button type="button" class="btn btn-md btn-block btn-primary">Adicionar ao Carrinho</button>
		      </div>
		    </div>

		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Filé de Peito</h4>
		      </div>
		      <div class="card-body">
		      	<img src="../img/produtos/Carnes, Aves e Peixes/filé de peito perdigão.jpg" style="height: 115px;" class="rounded shadow-sm">
		        <h2 class="card-title pricing-card-title">R$ 5,40 <small class="text-muted">/kg</small></h2>
		        <button type="button" class="btn btn-md btn-block btn-primary">Adicionar ao Carrinho</button>
		      </div>
		    </div>

		</div>

		


	</div>